body {
    font-family: "Lato", sans-serif;
   
    
}
.container  {
    margin-top: 60px;
    border-radius: 4px;
    background-color: #EEEEEe;
    color: #5A6275;

}
.col {
    /* outline: red solid 4px; */
    position: relative;
       
    /* border: 2px solid #FFF; */
    /* border-radius: 2px; */
    
}
.title {
    
    margin-bottom: 10px;
    padding-top: 30px;
    padding-left: 20px;

    font-weight: 700;
    font-size: 42px;  
}
.today {
    padding-left: 20px;
    
    font-size: 28px;
}
.percularites {
    padding-left: 20px;
}
.temperature {
    
    margin-right: 8px;

    font-weight: 700;
    font-size: 42px;
}
.until {
    text-decoration: none;
    vertical-align: super;
    font-size: 24px;
    font-weight: 400;
}
.temperature__tageline {
    vertical-align: super;
    font-size: 24px;
    font-weight: 400;
}
.wheather {
    margin-left: 8px;

    font-weight: 400;
    font-size: 24px;
}
.form {
    position: absolute;
    top: 30px;
    right: 170px;
}
.input {
    border: 1px solid #0099FF;
    background-color: #0099FF;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input:hover,
.input:focus {
    box-shadow: 2px 1px 10px rgb(137, 143, 135);
}
.in {
        outline-color: #707379;
        padding: 8px;
        margin-right: 8px;       
        border-radius: 4px;
        border-color: currentColor;
        color: currentColor
        
}
.city {
    position: absolute;
    top: 90px;
    right: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.kind-city {
    border: 1px solid #0099FF;
    background-color: #0099FF;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1); 
   
}
.kind-city:hover,
.kind-city:focus {
    box-shadow: 2px 1px 10px rgb(137, 143, 135);
}
.current-btn {
        position: absolute;
        top: 30px;
        right:20px;
        border: 1px solid #0077C0;
        background-color: #0077C0;
        color: #fff;
        padding: 8px 24px;
        border-radius: 4px;
        transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.current-btn:hover,
.current-btn:focus {
    box-shadow: 2px 1px 10px rgb(137, 143, 135);
}
/* colums */
.list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 0;
    
    list-style: none;
    text-align: center;
    /* border: 2px solid #D9EDFD; */

}
.list-day {
    padding: 8px 10px;
    /* outline: 2px solid red; */
    background-image: linear-gradient(to top left,
                #fff, #eee);
    border-radius: 4px;
    box-shadow: 2px 1px 10px rgb(137, 143, 135);  
}
.week-day {
    margin-top: 4px;
    padding-left: 20px;
    padding-right: 40px;
}
.temperature-day {
    font-size: 24px;
}